body{ 
    background-color: #000000; 
    color: #ffffff;
    font-family: Arial, sans-serif; 
} 

header { 
    background-color: #0946a1; 
    color: #ffffff; 
    text-align: center; 
    padding: 30px;
 } 

 h1 { 
    font-size: 35px; 
} 

h2 { 
    color: #42a5f5; 
} 

p { 
    font-size: 20px; 
    line-height: 1.6; 
 }
