body{
    background-color: rgb(7, 4, 51);
    color: blue;
    font-family: Arial, sans-serif;
}

header{
    background-color: #093a94;
    color: #0ee6d0;
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 36px;  
}

h2 {
    color: #1d003d; 
}

p  {
    font-size: 18px;
    line-height: 1.6;
}